mat-card {
    width: 50%;
    min-height: 50%;
    margin: auto;
}
.action-buttons {
    display: flex;
    justify-content: flex-start;
}

.point-table {
    text-align: -webkit-center;
}

.point-align {
    text-align: center;
}

.game-dashboard {
    display: flex;
    justify-content: space-around;
}

.mat-row {
    text-align: center;
}

.right-align {
    text-align: end;
}

.right-margin {
    margin-right: 1vw;
}

.three-vh-pad {
    padding-top: 3vh;
}