<div class="three-vh-pad">
  <mat-card>
    <div>
      <h1>Roll the Dice</h1>
      <form #playerForm="ngForm">
        <div>
  
          <mat-form-field class="half-width">
            <input matInput [disabled]="isSubmitted" [(ngModel)]="totalPlayers" min="1" name="totalPlayers" type="number" placeholder="Enter No. Of Players" required>
          </mat-form-field>
        </div>
          
      <mat-form-field class="half-width">
        <input matInput type="number" [disabled]="isSubmitted" [(ngModel)]="totalPoints" min="1" name="totalPoints" placeholder="Enter Points of Accumulate " required>
      </mat-form-field>
    </form>
  </div> 
  <div class="action-buttons">
    <button mat-raised-button type ="submit" class="right-margin" [disabled]="playerForm.invalid || isSubmitted" (click)="onSubmit()" color="primary">Submit</button>
    <button mat-raised-button [disabled]="playerForm.invalid" color="accent" (click)="onReset()">Reset</button>
    </div>
      
  </mat-card>
  
  <mat-card class="three-vh-pad">
    <div class="game-dashboard" *ngIf="dataSource.length">
    <div class="point-table" >  
      <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
          <td mat-cell *matCellDef="let element" class="right-align"> {{element[column]}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <button mat-raised-button color="primary" [disabled]="gameFinished" (click)="rollDice()">{{currentPlayer ? 'Next Turn' : 'Start'}} </button>
      
    </div>
  
  </div>
  </mat-card>
     
</div>
