mat-card {
    min-width: 50%;
    min-height: 50%;
}
.action-buttons {
    display: flex;
    justify-content: flex-start;
}

.point-table {
    text-align: -webkit-center;
}

.point-align {
    text-align: center;
}

.game-dashboard {
    display: flex;
}

.mat-row {
    text-align: center;
}

.right-align {
    text-align: end;
}